body {
    background-color: white;
}

a:link {
    color: #2387a6;
    /*text-decoration: underline;*/
}

a:hover {
    color: #3ab6df;
}

a:visited {
    color: #2387a6;
}

div {
    color: #333333;
}
